<h1>Lista de Productos</h1>

<table border="1">
    <tr>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Categoría</th>
        <th>Acciones</th>
    </tr>
    {{#each payload}}
    <tr>
        <td><img src="{{this.thumbnails.[0]}}" alt="{{this.title}}" width="50"></td>
        <td>{{this.title}}</td>
        <td>${{this.price}}</td>
        <td>{{this.category}}</td>
        <td>
            <a href="/products/{{this._id}}">Ver Detalles</a>
        </td>
    </tr>
    {{/each}}
</table>

<!-- Controles de paginación -->
{{#if hasPrevPage}}
    <a href="{{prevLink}}">Página Anterior</a>
{{/if}}
<span>Página {{page}} de {{totalPages}}</span>
{{#if hasNextPage}}
    <a href="{{nextLink}}">Página Siguiente</a>
{{/if}}
