<link rel="stylesheet" href="/css/styles.css">

<h1>Lista de Productos</h1>

<a href="/cart"><button>🛒 Ver Carrito</button></a>  

<table border="1">
    <tr>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Categoría</th>
        <th>Acciones</th>
    </tr>
    {{#each payload}}
    <tr>
        <td>
            <a href="/products/{{this._id}}">
                <img src="{{this.thumbnails.[0]}}" width="50">
            </a>
        </td>
        <td>
            <a href="/products/{{this._id}}" class="product-link">
                {{this.title}}
            </a>
        </td>
        <td>${{this.price}}</td>
        <td>{{this.category}}</td>
        <td>
            <form action="/api/carts/add-product" method="POST">
                <input type="hidden" name="productId" value="{{this._id}}">
                <input type="number" name="quantity" value="1" min="1">
                <button type="submit">Agregar al Carrito</button>
            </form>
        </td>
    </tr>
    {{/each}}
</table>


<div>
    {{#if hasPrevPage}}
        <a href="{{prevLink}}">⬅ Página Anterior</a>
    {{/if}}
    <span>Página {{page}} de {{totalPages}}</span>
    {{#if hasNextPage}}
        <a href="{{nextLink}}">Página Siguiente ➡</a>
    {{/if}}
</div>